<h1>About Me</h1>
<h3>Stephanie Harris. Web Developer. Little Sister</h3>
<p>This brand is named after my older brother and the copious amounts of clothes that he buys and almost never wears. He is a very generous fellow, often giving his clothes away overseas, but I figured he could sell some in America to guys who want to look gangsta without dropping Benjamins every week.</p>
