<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Einapets</title>

    <%= stylesheet_link_tag    "application" %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="menu">
    <h1 class="name"><i class="fi-widget"></i> Big Boy's Closet</a></h1>
    <ul class="inline-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Clothes</a></li>
    </ul>
    <ul class="inline-list hide-for-small-only account-action">
      <li><a href="#" data-open="myModal" data-reveal-id="myModal">Login</a></li>
      <li class=""><a data-open="myModal" href="#" data-reveal-id="myModal">Signup</a></li>
    </ul>
    <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
  </nav>

  <!-- modal content -->

  <div id="myModal" class="reveal" data-reveal aria-labelledby="login or sign up" aria-hidden="true" role="dialog">
    <div class="row">
      <div class="large-6 columns auth-plain">
        <div class="signup-panel left-solid">
          <p class="welcome">Registered Users</p>
          <form>
            <div class="row collapse">
              <div class="small-2  columns">
                <span class="prefix"><i class="fi-torso-female"></i></span>
              </div>
              <div class="small-10  columns">
                <input type="text" placeholder="username">
              </div>
            </div>
            <div class="row collapse">
              <div class="small-2 columns ">
                <span class="prefix"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns ">
                <input type="text" placeholder="password">
              </div>
            </div>
          </form>

          <a href="#" class="button ">Log In </a>
        </div>
      </div>

      <div class="large-6 columns auth-plain">
        <div class="signup-panel newusers">
          <p class="welcome"> New User?</p>
          <p>By creating an account with us, you will be able to move through the checkout process faster, view and track your orders, and more.</p><br>
          <a href="#" class="button ">Sign Up</a></br>
        </div>
      </div>

     </div>
    <a data-close class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

    <%= yield %>
    <a data-open="myModal2" data-reveal-id="myModal2">Click Me For A Modal</a>

    <div id="myModal2" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Awesome. I have it.</h2>
      <p class="lead">Your couch.  It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a data-close class="close-reveal" aria-label="Close">&#215;</a>
    </div>

    <footer class="float-right">
      &copy 2016 Big Boy's Closet
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  </body>
</html>

  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet"> -->

  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script> -->
